body{
  margin: 0px ;
  background-color: rgb(206, 210, 220);
  font-family: 'Poppins', sans-serif !important;
}

.appbar{
  min-height:48px !important;
}

.cinput:focus{
  outline: none;
}

.MuiRadio-colorSecondary.Mui-checked{
  color: #4B7BFF !important;
}

.MuiFormControlLabel-root{
  margin-left: 0px !important;
    margin-right: 0px !important;
}

@media only screen and (min-width: 768px) {
 .screen1{
    margin-left: 30%  !important;
  }
  .screen2{
    padding-top: 10% !important;
  }
.screen2-1{
   margin-left: 30%  !important;
 }

}

@media only screen and (max-width: 600px) {
  .img-12{
    min-width: inherit  !important;
  top: 0px !important;
  right: 0px  !important; 
  }
}

@media only screen and (max-width: 600px) {
  .dot{
   height:28px !important; 
    width: 25px !important; 
   margin: 3px !important; 
  }
 }
 
 